/* Overall container */
.messages-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 180px; /* increased bottom padding */
  box-sizing: border-box;
}

/* Single message container */
.message-container {
  background: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* Text content */
.text-content {
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 2em;
}

/* Image content */
.image-content {
  margin-bottom: 10px;
}

/* Image */
.message-image {
  max-width: 100%;
  height: auto;
}

/* Input container */
.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10em;
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Input container > button */
.input-container button {
  padding: 0.5em 1.0em;
  font-size: 3em;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

/* Input container > textarea */
.input-container textarea {
  flex-grow: 1;
  padding: 10px;
  font-size: 2em;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
  margin-right: 20px;
}

/* Input container > textarea > placeholder */
.input-container textarea::placeholder {
  font-size: 1em;
}

.input-container-loading {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-size: 2em;
  animation: fade 1s infinite;
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* Colors for user and assistant messages */
.message-container-user {
  background: #e6f7ff;  /* Light blue background for user messages */
}

.message-container-assistant {
  background: #f9f9f9;  /* Light gray background for assistant messages */
}
